{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load plotly_dash %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

<script>
  $(document).ready(function() {
      $(function() {
          $('#dataName option:contains({{selectedDataName}})').prop('selected',true);
          $('#sectors1 option:contains({{selectedSector1}})').prop('selected',true);
          $('#sectors2 option:contains({{selectedSector2}})').prop('selected',true);
          $('#sectors3 option:contains({{selectedSector3}})').prop('selected',true);
          $('#sectors4 option:contains({{selectedSector4}})').prop('selected',true);
          $('#plotType option:contains({{selectedPlot}})').prop('selected',true);
          
      });
      
      $( "#plotType, .sectorDropdowns" ).change(function() {
        $.get('', $( "#select_filter_form" ).serialize(), function( data ) {
            $('#plot').html(data.plot)
        }, "json");
      });

      /*
      $('input[value="+"]').on('click', function(){
        event.preventDefault();
        let req = $( "#select_filter_form" ).serialize() +'&'+ encodeURIComponent('addSector')+'='+encodeURIComponent('+')
        console.log(req)
        $.get('', req, function( data ) {
            $('#plot').html(data.plot)
        }, "json");
        
      })

      $('input[value="-"]').on('click', function(){
        event.preventDefault();

        let req = $( "#select_filter_form" ).serialize() +'&'+ encodeURIComponent('removeSector')+'='+encodeURIComponent('-')
        console.log(req)
        $.get('', req, function( data ) {
            $('#plot').html(data.plot)
        }, "json");
        
      })
      
      */
  });
  
</script>
    
        <form id="select_filter_form" method="GET" action="." >
            <div class="form-group col-md-4 float-left">
                <label for="importantGraph">Important Graphs</label>
                <select id="importantGraph" class="form-control" name="importantGraph" width="100%" onchange="this.form.submit()">
                    <option selected disabled>Choose...</option>
                    {% for importantGraph in importantGraphs %}
                    <option value="{{ importantGraph }}">{{ importantGraph }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group col-md-4 float-right">
                <label for="dataName">Data</label>
                <select id="dataName" class="form-control" name="datas" width="100%" onchange="this.form.submit()">
                    {% for dataName in dataNames %}
                    <option value="{{ dataName }}">{{ dataName }}</option>
                    {% endfor %}
                </select>
                <br/>
                <label for="plotType">Plot type</label>
                <select id="plotType" class="form-control" name="plots" width="100%">
                    {% for plotType in plotTypes %}
                    <option value="{{ plotType }}">{{ plotType }}</option>
                    {% endfor %}
                </select>
                <br/>

                <label for="sectors1">Sector 1</label>
                <div class="form-check form-check-inline">
                    
                    <select id="sectors1" class="form-control mr-3 sectorDropdowns" name="sectors1" width="100%">
                        <option selected>Choose...</option>
                        {% for sector in sectors %}
                        <option value="{{ sector }}">{{ sector }}</option>
                        {% endfor %}
                    </select>
                    {% if sectors1 %}
                    <input type="checkbox" id="sectors1_cb" name="sectors1_cb" value="sectors1" checked>
                    {% else %}
                    <input type="checkbox" id="sectors1_cb" name="sectors1_cb" value="sectors1">
                    {% endif %}                    
                </div>
                <br/>
                <br/>
                {% if 2 in counterSectorArray %}
                <label for="sectors2">Sector 2</label>
                <div class="form-check form-check-inline">
                    <select id="sectors2" class="form-control mr-3 sectorDropdowns" name="sectors2" width= "100%">
                        <option selected>Choose...</option>
                        {% for sector in sectors %}
                        <option value="{{ sector }}">{{ sector }}</option>
                        {% endfor %}
                    </select>
                    <input type="checkbox" id="sectors2_cb" name="sectors2_cb" value="sectors2">
                </div>
                <br/>
                <br/>
                {% endif %}

                {% if 3 in counterSectorArray %}
                <label for="sectors3">Sector 3</label>
                <div class="form-check form-check-inline">
                    <select id="sectors3" class="form-control mr-3 sectorDropdowns" name="sectors3" width= "100%">
                        <option selected>Choose...</option>
                        {% for sector in sectors %}
                        <option value="{{ sector }}">{{ sector }}</option>
                        {% endfor %}
                    </select>
                    <input type="checkbox" id="sectors3_cb" name="sectors3_cb" value="sectors3">
                </div>
                <br/>
                <br/>
                {% endif %}

                {% if 4 in counterSectorArray %}
                <label for="sectors4">Sector 4</label>
                <div class="form-check form-check-inline">
                    <select id="sectors4" class="form-control mr-3 sectorDropdowns" name="sectors4" width= "100%">
                        <option selected>Choose...</option>
                        {% for sector in sectors %}
                        <option value="{{ sector }}">{{ sector }}</option>
                        {% endfor %}
                    </select>
                    <input type="checkbox" id="sectors4_cb" name="sectors4_cb" value="sectors4">
                </div>
                <br/>
                <br/>
                {% endif %}

                
                <input type="submit"
                        name="addSector"
                        value="+"
                        class="btn btn-outline-primary"
                        onchange="this.form.submit()">

                <input type="submit"
                        name="removeSector"
                        value="-"
                        class="btn btn-outline-primary"
                        onchange="this.form.submit()"><span style="margin-left: 15px">Add / Remove Sector</span>
                

            </div>
            <div id="plot" class="float-left">
            {{ plot | safe }} 
            </div>
        </form>
{% endblock %}
