{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load plotly_dash %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

<script>
  $(document).ready(function() {
      $(function() {
          $('#importantGraph option:contains({{selectedImportantGraph}})').prop('selected',true);
          $('#dataName option:contains({{selectedDataName}})').prop('selected',true);
          $('#sectors1 option:contains({{selectedSector1}})').prop('selected',true);
          $('#sectors2 option:contains({{selectedSector2}})').prop('selected',true);
          $('#sectors3 option:contains({{selectedSector3}})').prop('selected',true);
          $('#sectors4 option:contains({{selectedSector4}})').prop('selected',true);
          $('#plotType option:contains({{selectedPlot}})').prop('selected',true);
          $('#makePredictions option:contains({{selectedPredictionMode}})').prop('selected',true);
          
      });
      
      $( "#plotType, .sectorDropdowns" ).change(function() {
        $.get('', $( "#select_filter_form" ).serialize(), function( data ) {
            $('#plot').html(data.plot)
        }, "json");
      });

      /*
      $('input[value="+"]').on('click', function(){
        event.preventDefault();
        let req = $( "#select_filter_form" ).serialize() +'&'+ encodeURIComponent('addSector')+'='+encodeURIComponent('+')
        console.log(req)
        $.get('', req, function( data ) {
            $('#plot').html(data.plot)
        }, "json");
        
      })

      $('input[value="-"]').on('click', function(){
        event.preventDefault();

        let req = $( "#select_filter_form" ).serialize() +'&'+ encodeURIComponent('removeSector')+'='+encodeURIComponent('-')
        console.log(req)
        $.get('', req, function( data ) {
            $('#plot').html(data.plot)
        }, "json");
        
      })
      
      */
  });
  
</script>

        <form id="select_filter_form" method="GET" action="." >
            <div class="form-group col-md-4 float-left">
                <label for="importantGraph">Important Graphs</label>
                <select id="importantGraph" class="form-control" name="importantGraph" width="100%" onchange="this.form.submit()">
                    <option selected disabled>Choose...</option>
                    {% for importantGraph in importantGraphs %}
                    <option value="{{ importantGraph }}">{{ importantGraph }}</option>
                    {% endfor %}
                </select>
            </div>


            
            <div class="form-group shadow-sm col-md-4 float-right" style="margin-top:90px">
                <!-- tab list -->
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-default-tab" data-toggle="tab" href="#nav-default" role="tab" aria-controls="nav-default" aria-selected="true">Default</a>
                    <a class="nav-item nav-link" id="nav-custom-tab" data-toggle="tab" href="#nav-custom" role="tab" aria-controls="nav-custom" aria-selected="false">Add Customized Graph</a>
                    </div>
                </nav>
                <br/>
                <!-- default tab -->
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-default" role="tabpanel" aria-labelledby="nav-default-tab">
                        <label for="dataName">Data</label>
                        <select id="dataName" class="form-control" name="datas" width="100%" onchange="this.form.submit()">
                            {% for dataName in dataNames %}
                            <option value="{{ dataName }}">{{ dataName }}</option>
                            {% endfor %}
                        </select>
                        <br/>
                        <label for="plotType">Plot type</label>
                        <select id="plotType" class="form-control" name="plots" width="100%">
                            {% for plotType in plotTypes %}
                            <option value="{{ plotType }}">{{ plotType }}</option>
                            {% endfor %}
                        </select>
                        <br/>

                        <label for="sectors1">Sector 1</label>
                        <div class="form-check form-check-inline">
                            
                            <select id="sectors1" class="form-control mr-3 sectorDropdowns" name="sectors1" width="100%">
                                <option selected disabled>Choose...</option>
                                {% for sector in sectors %}
                                <option value="{{ sector }}">{{ sector }}</option>
                                {% endfor %}
                            </select>                  
                        </div>
                        <br/>
                        <br/>
                        {% if 2 in counterSectorArray %}
                        <label for="sectors2">Sector 2</label>
                        <div class="form-check form-check-inline">
                            <select id="sectors2" class="form-control mr-3 sectorDropdowns" name="sectors2" width= "100%">
                                <option selected disabled>Choose...</option>
                                {% for sector in sectors %}
                                <option value="{{ sector }}">{{ sector }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <br/>
                        <br/>
                        {% endif %}

                        {% if 3 in counterSectorArray %}
                        <label for="sectors3">Sector 3</label>
                        <div class="form-check form-check-inline">
                            <select id="sectors3" class="form-control mr-3 sectorDropdowns" name="sectors3" width= "100%">
                                <option selected disabled>Choose...</option>
                                {% for sector in sectors %}
                                <option value="{{ sector }}">{{ sector }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <br/>
                        <br/>
                        {% endif %}

                        {% if 4 in counterSectorArray %}
                        <label for="sectors4">Sector 4</label>
                        <div class="form-check form-check-inline">
                            <select id="sectors4" class="form-control mr-3 sectorDropdowns" name="sectors4" width= "100%">
                                <option selected disabled>Choose...</option>
                                {% for sector in sectors %}
                                <option value="{{ sector }}">{{ sector }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <br/>
                        <br/>
                        {% endif %}

                        
                        <input type="submit"
                                name="addSector"
                                value="+"
                                class="btn btn-outline-primary"
                                onchange="this.form.submit()">

                        <input type="submit"
                                name="removeSector"
                                value="-"
                                class="btn btn-outline-primary"
                                onchange="this.form.submit()"><span style="margin-left: 15px">Add / Remove Sector</span>
                        
                        <br/>
                        <br/>
                        <div class="form-group col-md-8 float-right">
                            <select id="makePredictions" class="form-control" name="makePredictions" width="100%" onchange="this.form.submit()">
                                <option selected>Disable Forecast</option>
                                <option>Enable Forecast</option>
                            </select>
                        </div>
                    </div>
                    <!-- Custom Graph Tab -->
                    <div class="tab-pane fade" id="nav-custom" role="tabpanel" aria-labelledby="nav-custom-tab">
                        <label for="dataName">Data</label>
                        <select id="dataName" class="form-control" name="datas" width="100%">
                            {% for dataName in dataNames %}
                            <option value="{{ dataName }}">{{ dataName }}</option>
                            {% endfor %}
                        </select>
                        <br/>

                        <label for="sectors1">Sector 1</label>
                        <div class="form-check form-check-inline">
                            
                            <select id="sectors1custom" class="form-control mr-3 sectorDropdowns" name="sectors1custom" width="100%">
                                {% for sector in sectors %}
                                <option value="{{ sector }}">{{ sector }}</option>
                                {% endfor %}
                            </select>                  
                        </div>
                        <br/><br/>
                        <div class="form-check form-check-inline">
                            <select id="operator1" class="form-control mr-3" name="operator1custom" width="100%">
                                <option value="+">+</option>
                                <option value="-">-</option>
                                <option value="*">*</option>
                            </select>                  
                        </div>
                        <br/><br/>
                        <div class="form-check form-check-inline">
                            
                            <select id="sectors2custom" class="form-control mr-3 sectorDropdowns" name="sectors2custom" width="100%">
                                {% for sector in sectors %}
                                <option value="{{ sector }}">{{ sector }}</option>
                                {% endfor %}
                            </select>                  
                        </div>
                        <br><br>
                        <button
                            class="btn btn-outline-primary float-right" 
                            type="button"
                            onclick="return false"
                            data-target="#customNameModal"
                            data-toggle="modal"
                            style="margin-bottom: 20px">Create Custom Entry</button>


                            <div class="modal" id="customNameModal" tabindex="-1">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title">Custom Entry</h4>
                                            <button class="close" data-dismiss="modal">&times;</button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <input class="form-control" placeholder="Enter the name of the new Entry" type="text" id="inputEntryName" name="inputEntryName"/>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button class="btn btn-primary" name="saveCustom" onclick="this.form.submit()">Save</button>
                                            <button class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
            <div id="plot" class="float-left">
            {{ plot | safe }} 
            </div>

        </form>

        
{% endblock %}
