<!-- templates/registration/login.html -->
{% extends 'registration/base.html' %}
{% load static %}
{% block style %}

{% if user.is_authenticated %}
<meta http-equiv="refresh" content="2;url=/" />
{% endif %}

   {% endblock %}
{% block content %}
 <form method="post">
 {% csrf_token %}

 <div class="container">
  <div class="vertical-center">
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-laugh-wink"></i>
        </div>
{% if user.is_authenticated %}
     <h2>You already logged in</h2>
    <h4>Redirected in 2 seconds</h4>

    {% else %}
 <h2>Please Login</h2>
     {% for field in form %} <!-- this for used instead of {# {{ form as p }} #} }} -->
            <div class="bord">
                {{ field.errors }}<br>
                {{ field.label_tag }}<br>{{ field }}
            </div>
        {% endfor %}
        
        <button id="loginBtn" type="submit" class="login100-form-btn" type="submit" style="margin-top: 20px;">Login</button>
    

    <div class="text-center p-t-136">
      <a class="txt2" href="/">
        Back to main page
        <i class="fa fa-long-arrow-left m-l-5" aria-hidden="true"></i>
      </a><br>
      <a class="txt2" href="{% url 'accounts:register' %}">
        Create your Account
        <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
      </a>
    </div>
  {% endif %}
  </div>
</div>
 </form>
{% endblock %}


