<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
{% load static %}
      <!-- Sidebar - Brand -->
      <!-- <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'home' %}"> -->
        <div id="resizeImg" class="resizeImage">
          <!-- <i class="fas fa-laugh-wink"></i> -->
          <a href="/home">
          <img class="resizeImage" src="{% static 'login/images/sidebarLogo.png' %}" alt="IMG"/>
        </a>
        </div>
        
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item active resizeIcon">
        <a class="nav-link" href="{% url 'home' %}">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        Visualizer
      </div>

      <!-- Nav Item - Tables -->
      <li class="nav-item">
        <a class="nav-link" href="{% url 'table' %}">
          <i class="fas fa-fw fa-table"></i>
          <span>Tables</span></a>
      </li>

      <!-- Nav Item - Charts -->
      <li class="nav-item">
        <a class="nav-link" href="{% url 'home' %}">
          <i class="fas fa-fw fa-chart-area"></i>
          <span>Charts</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>

    <script>
      $(document).ready(function() {
        
        var sidebarToggle = true
        $("#sidebarToggle").on('click', function(){
          if(sidebarToggle){
            sidebarToggle = false
            $(".resizeImage").css({"margin-bottom": "20%", "height": "120px", "width": "70px"})
          } else {
            sidebarToggle = true
            $(".resizeImage").css({"border-style": "none", "margin": "10%", "vertical-align": "middle", "height": "", "width" : ""})
          }

        })
        
      });
    </script>

    