{% extends 'registration/base.html' %}


{% block title %}
Change Password: {{user}}
{% endblock %}
{% block content %}
<h2>Change Password</h2>
<br>
<form method="post">
{% csrf_token %}

  {% for field in form %} 
      <div class="bord">
       
        {{ field.label_tag }}<br>{{ field }}
        
      </div>
      {% if  field.errors %} <span id="red"><li>{{field.errors}}</li></span><br> {% endif %}
      {% endfor %}
      
<div class="note">
<br>
<ul>
<li>Your password can't be too similar to your other personal information.</li>
<li>At least 8 characters password.</li>
<li>Use both letters and numbers </li>
</ul>
</div>
<button id="loginBtn" type="submit" class="login100-form-btn" type="submit" style="margin-top: 20px;">Change Password</button>
    


<div class="text-center p-t-136">
    <a class="txt2" href="/">
      Back to main page
      <i class="fa fa-long-arrow-left m-l-5" aria-hidden="true"></i>
    </a><br>
    <a class="txt2" href="{% url 'profile' %}">
      Back to profile page
      <i class="fa fa-long-arrow-left m-l-5" aria-hidden="true"></i>
    </a>
  </div>
</form>
{% endblock %}