{% extends 'registration/base.html' %}

{% block title %}
Profile: {{ user }}
{% endblock %}

{% block content %}
<h1></h1>

<b>Username:</b> {{ user }}<br><br>
<b>E-mail:</b> {{ user.email }}<br><br>
<b>Full Name:</b> {% if user.first_name and user.last_name %}{{ user.first_name }} {{ user.last_name }} {% else %}<i>--Not specified yet--</i>{% endif %}

<div class="text-center p-t-136">
    <a class="txt2" href="/">
      Back to main page
      <i class="fa fa-long-arrow-left m-l-5" aria-hidden="true"></i>
    </a><br>
    <a class="txt2" href="{% url 'accounts:edit' %}">
      Edit Profile
      <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
    </a>
  </div>
{% endblock %}<div class="sidebar-brand-text mx-3">FOFviz</div><div class="sidebar-brand-text mx-3">FOFviz</div><div class="sidebar-brand-text mx-3">FOFviz</div>