<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="{% url 'edit' %}">
    {% for field in form %}
        <!-- this for used instead of {# {{ form as p }} #} }} -->
        <div class="bord">
          {{ field.errors }}<br>
          {{ field.label_tag }}<br>{{ field }}
        </div>
        {% endfor %}
    </form>
</body>
</html>